body {
  background-color: red;
}
h1 {
  color: white;
  font-size: 40px;
  font-family: sans-serif, 
    ariel, Helvetica;
}
.header {
  background-color: black;
  border: 1px solid white;
  text-align: center;
}

img {
  width: 201px;
  height: 200px;
}

p, li{
  color: white;
  font-family: ariel, Helvetica, sans-serif;
}
h3{
  border: 1px solid black;
  text-align: center;
}
.footer {
  background-color: black;
  color: white;
  border: 1px solid white;
  text-align: center;
}
